

<div class="card" style="width: 18rem;">
    <img src="{{user.profilePicture}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{user.email}}</h5>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text">{{user.lastName}}</p>
      <p>Heure de pointage :</p>
      <p class="card-title">{{user.date_arrivee}}</p>
<p>Heure de depart:</p>
      <p class="card-title">{{user.date_depart}}</p>

<div class="d-flex justify-content-center">
   
        <!-- <button class="btn btn-outline-dark" (click)="open(content)"><i class="fa fa-trash" aria-hidden="true" ></i></button> -->
        <!-- <button class="btn btn-outline-danger ml-3" routerLink="/user/edit/{{u.id}}"><i class="far fa-edit"></i>Edit</button> -->
        <!-- <button class="bg-danger"> <i class="fas fa-trash" (click)="deleteuser(group.id)"></i> </button> -->

        <button class="btn btn-outline-info "routerLink="/users/profile/update/{{user.id}}" ><i class="far fa-edit"></i>View</button>
        <button class="btn btn-outline-danger ml-2"  routerLink="/users/profile/deleteItem/{{user.id}}"  ><i class="fa fa-trash" aria-hidden="true" ></i></button>

    
</div>
     
    </div>
  </div>
