body {
  background-color: #B3E5FC;
  border-radius: 10px
}

.card {
  width: 400px;
  border: none;
  border-radius: 10px;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important
}

.articles {
  font-size: 10px;
  color: #a1aab9
}

.number1 {
  font-weight: 500
}

.followers {
  font-size: 10px;
  color: #a1aab9
}

.number2 {
  font-weight: 500
}

.rating {
  font-size: 10px;
  color: #a1aab9
}

.number3 {
  font-weight: 500
}
