<div class="container mt-2 d-flex justify-content-center col-10">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="assets/images/{{user?.profilePicture}}" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{user?.firstName | titlecase }} {{user?.lastName | titlecase }}</h4> <span>{{user?.email}}</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">{{postsByUser?.length}}</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">Follows</span> <span class="number2">{{user?.follows.length}}</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">{{user?.followers.length}}</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="float-left mb-5 pb-3">Historique de pointage. </h3>
<div class="py-5 p-2">
    <hr>
    <div class="container m-2" *ngIf="postsByUser?.length > 0;">
        <div class="row pb-2">
            <div class="col-md-4 pb-3" *ngFor="let post of postsByUser">
                <app-post-card [post]="post" (removedEventEmitter)="deleteItem($event)"></app-post-card>
            </div>
        </div>
    </div>
    <div *ngIf="postsByUser?.length == 0;" class="container m-2 text-center text-info">
        <div class="container m-2" *ngIf="postsByUser?.length > 0;">
            <div class="row pb-2">
                <div class="col-md-4 pb-3" *ngFor="let post of postsByUser">
                    <app-post-card [post]="post" (removedEventEmitter)="deleteItem($event)"></app-post-card>
                </div>
            </div>
        </div>
        
        <h4>  First Name : {{user?.firstName | titlecase }} </h4>
          <h4>Last Name :   {{user?.lastName | titlecase }}</h4>    
            

   <h2> Heure de pointage :<span>  {{user?.date_arrivee | titlecase }} </span></h2>        

            <h2> Heure de depart :<span>  {{user?.date_depart | titlecase }}</span></h2> 
        
        <span>email : {{user?.email}}</span>
    </div>
    <hr>
</div>

